@page "/categories"

<h1 class="page-title">Categories</h1>

<div class="col-md-12">
    <button type="button" class="btn btn-success" @onclick="@AddCategory">New Category</button>
    <hr />
</div>

@if (Categories == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-condensed table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Category</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Categories)
            {
                <tr>
                    <td>@category.Name</td>
                    <td>
                        <a href="@($"categorydetail/{category.Id}")" class="btn btn-primary">
                            <i class="fas fa-info-circle"></i>
                        </a>
                        <a href="@($"categoryedit/{category.Id}")" class="btn btn-secondary">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a class="btn btn-danger" @onclick="() => DeleteCategory(category.Id)">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}