@page "/"

<h1 class="text-center">Welcome to Blazor BookStore!</h1>
<p class="text-center">A platform to research your favorite books</p>
<div class="text-center">
    <button class="btn btn-info btn-lg" [routerLink]="['/books']">See Books</button>
</div>
